{%extends 'Aglobal.html'%}
{%load static %}


{%block content%}
<link rel="stylesheet" href="{% static 'css/style-about.css'%}">


<section  id="about" class="about">
<div class="div">
    <h1>About</h1>
   
</div>
    <div class="div1">
        <div class="blok">    
            <div class="a1" id="a1">
                <img src="{%static 'img/j31.jpg'%}" alt="" id="n1">
                 <h1>Products</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
                   Inventore ab fugit qui cum, aperiam ex beatae! Fugiat possimus<br>
                   officia corrupti, voluptatibus odit ut neque obcaecati quod <br>
                   officiis ullam similique ex!
                </p>
            </div>

            <div class="a1">
                <img src="{%static 'img/յ23.jpg'%}" alt="">
                <h1>Stuff</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
                   Inventore ab fugit qui cum, aperiam ex beatae! Fugiat possimus<br>
                   officia corrupti, voluptatibus odit ut neque obcaecati quod <br>
                   officiis ullam similique ex!
                </p>
            </div>

            <div class="a1">
                <img src="{%static 'img/յ24.jpg'%}" alt="">
                 <h1>Masters</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
                   Inventore ab fugit qui cum, aperiam ex beatae! Fugiat possimus<br>
                   officia corrupti, voluptatibus odit ut neque obcaecati quod <br>
                   officiis ullam similique ex!
                </p>
            </div>

            <div class="a1">
                <img src="{%static 'img/j33.jpg'%}" alt="" id="n2">
                 <h1>Quality</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
                   Inventore ab fugit qui cum, aperiam ex beatae! Fugiat possimus<br>
                   officia corrupti, voluptatibus odit ut neque obcaecati quod <br>
                   officiis ullam similique ex!
                  
                </p>
            </div>




        
          
        </div>

        <div class="coment">      
            <h3>comment</h3><br>
         
           
            <form action="" method="POST" class="form">
                {%csrf_token%}
                <p id="p0">{{er}}</p> <br>
                <p id="p">{{massage}}</p><br>
                <input type="text" name="name" id="id_name" placeholder="Name"><br>
                
                <textarea name="massage" id="id_massage" placeholder="Massage" cols="10" rows="5"></textarea><br>
                
                <button type="submit" id="button">Send</button> 
               
            </form>
           
         </div>

    </div>

    <div class="div2">
       

    </div>

 
        
     
       

    
    </section>


<script src="{% static 'css/script.js'%}"></script>
{%endblock%}