{%extends 'Aglobal.html'%}
{%load static %}


{%block content%}
<link rel="stylesheet" href="{% static 'css/style-catalog-2.css'%}">

    
  
<section class="catalog-2">
    
    <div class="liz-div"> 
         <h1>Liuzin</h1>
        <div class="a">
            <a href="../catalog-1/" class="forward"><i class="fa-solid fa-arrow-left-long"></i></a>
            <a href="../catalog-3/" class="forward"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>

    </div>

    <div class="product">
        

        <div class="part1">
            <img src="{%static 'img/x12.jpg'%}" alt="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div>
        
        <div class="part1">
            <img src="{%static 'img/x13.jpg'%}" alt="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div>
        
        <div class="part1">
            <img src="{%static 'img/x14.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x15.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x1.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x2.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x5.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x6.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x11.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 


    </div>


</section>









<script src="{% static 'css/script.js'%}"></script>
{%endblock%}
