{%extends 'Aglobal.html'%}
{%load static %}


{%block content%}
<link rel="stylesheet" href="{% static 'css/style-catalog.css'%}">


<section  id="catalog" class="catalog">
<div class="div">
<h1>Catalog</h1>

</div>
    <section class="book" id="book">
    

        <div class="box-cont">

            <div class="box">
               
              
               <img src="{%static 'img/j3.jpg'%}">
               <div class="description">
                    <h3>arox</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <a href="../catalog-1/" >see more</a> 
                </div>
            </div>    
            

            <div class="box">
                
                <img src="{%static 'img/j4.jpg'%}">
              <div class="description">
                    <h3>liuzin</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="../catalog-2/">see more</a> 
                </div>
            </div>

            
            <div class="box">
              
                <img src="{%static 'img/j10.jpg'%}">
              <div class="description">
                    <h3>laufen</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <a href="../catalog-3/">see more</a> 
                </div>
            </div>
            

            <div class="box">
              
                <img src="{%static 'img/j7.jpg'%}">
                  <div class="description">
                    <h3>ramrod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">see more</a> 
                </div>
            </div>
            
            
            <div class="box">
              
                <img src="{%static 'img/j8.jpg'%}">
                 <div class="description">
                    <h3>miele</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <a href="#">see more</a> 
                </div>
            </div>
            
            
            <div class="box">
              
                <img src="{%static 'img/j9.jpg'%}">
                 <div class="description">
                    <h3>sasha</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">see more</a> 
                </div>
            </div>
            
        </div>    
        


    </section>


</section>
<script src="{% static 'css/script.js'%}"></script>
{%endblock%}