{%extends 'Aglobal.html'%}
{%load static %}


{%block content%}
<link rel="stylesheet" href="{% static 'css/style-catalog-1.css'%}">

    
  
<section class="catalog-1">
    
    <div class="arox-div"> 
         <h1>Arox</h1>
        <a href="../catalog-2/" class="forward"><i class="fa-solid fa-arrow-right-long"></i></a>

    </div>

    <div class="product">
        

        <div class="part1">
        
            <img src="{%static 'img/x1.jpg'%}" alt="">
         
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>   
                <div class="heart">
                    <i class="fa-solid fa-heart checked"></i>
                    <i class="fa-solid fa-heart checked"></i>
                    <i class="fa-solid fa-heart checked"></i>
                    <i class="fa-solid fa-heart "></i>
                </div>
            </div>
                
        </div>
        
        <div class="part1">
            <img src="{%static 'img/x2.jpg'%}" alt="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div>
        
        <div class="part1">
            <img src="{%static 'img/x8.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x4.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x5.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x6.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x9.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x10.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 

        <div class="part1">
            <img src="{%static 'img/x11.jpg'%}" altx="">
            <div class="dat">
                <p>
                    <h2>Jeans</h2>
                    <h3>$14.7</h3>
                    <small>Women fashion </small>
                </p>
                <p>
                    <strong>Size</strong>
                    <p class="in">
                        <span class="activ">29</span>
                        <span>30</span>
                        <span>35</span>
                        <span>40</span>
                    </p>
                </p>
            </div>
                
        </div> 


    </div>


</section>









<script src="{% static 'css/script.js'%}"></script>
{%endblock%}
